#div1{
	border:2px dashed;
	background:green;
	color:white;
	height:50px;
	width:100px;
	padding:20px;
	
}
div:hover{
/*
	transform:scale(2);
    transform:rotate(45 deg);
    transform:skew(20deg,10deg);
    transform:translate(100px,120px);	
}
