*
{
    margin:0;
    padding:0;
}
.hero{
    height:100vh;
    width:100%;
    background-image:url(sky.jpg);
    background-position:center;
    background-size:cover;
    position:relative;
    overflow-x:hidden;
}
.highway{
    height:200px;
    width:500%;
    background-image:url(road.jpg);
    position:absolute;
    display:block;
    bottom:0;
    left:0;
    right:0;
    z-index:1;
    background-repeat:repeat-x;
    animation:highway 20s linear infinite;
}
@keyframes highway{
    100%{
        transform:translate(-3400px);
    }
}
.city{
    height:200px;
    width:500%;
    background-image:url(city.png);
    position:absolute;
    display:block;
    bottom:200px;
    left:0;
    right:0;
    z-index:1;
    background-repeat:repeat-x;
    animation:city 40s linear infinite;
}
@keyframes city{
    100%{
        transform:translate(-1400px);
    }
}
.car{
    width:400px;
    left:50%;
    bottom:100px;
    transform:translateX(-50%);
    position:absolute;
    z-index:2;
}
.car img{
    width:100%;
    animation:car 1s linear infinite;
}
@keyframes car{
    100%{
        transform:translateY(-5px);
    }
    50%{
        transform:translateY(5px);
    }
    0%{
        transform:translateY(-5px);
    }
    
}
.wheel{
    left:50%;
    bottom:178px;
    transform:translateX(-50%);
    position:absolute;
    z-index:2;
    animation:wheel 4s linear infinite;
}
.wheel img{
    width:72px;
    height:72px;
    animation:wheel 4s linear infinite;
}
.back{
    left:-165px;
    position:absolute;
}
.front{
    left:80px;
    position:absolute;
}
@keyframes wheel{
    100%{
        transform: rotate(360deg);
    }
}