div{
 background:purple;
 color : white;
}
.movie{
	background:red;
	color:white;
}
span#author{
	text-transform:uppercase;
}
#Order{
	color:green;
	background:black;
}
h2+p{
	background:green;
	color: white;
}
p[id]{
	background:black;
	color:white;
}
img{
float:right;
}